.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.imagem{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

button {
    padding: 15px;
    background-color: #ff7f58;
    color: white;
    border-color: #ab522d;
    border-style: dotted;
    font-size: 18px;
    font-weight: 600;
}

.textoFrase{
    font-style: italic;
    color: #ab522d;
    text-align: center;
}
